# UK Covid Cases Analysis

### Installation of Pandas and Upload of the data file

In [2]:
!pip install pandas
!pip install numpy

#Importing the pandas and numpy libraries
import pandas as pd
import numpy as np

pd.set_option("display.max_columns", None)

# Extract the file containing UK Covid Cases data
uk_cases=pd.read_csv("/Users/shaunman/Documents/LSE/Course 2/Course 2 Final/LSE_DA201_Assignment_files/covid_19_uk_cases.csv")

Requirement already satisfied: pandas in /opt/anaconda3/lib/python3.9/site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /opt/anaconda3/lib/python3.9/site-packages (from pandas) (1.20.3)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.9/site-packages (1.20.3)

### Printing the first and last 5 rows as well as the shape of the dataframe

In [3]:
# First Five Rows
print(uk_cases.head())

# Last five rows
print(uk_cases.tail())

# No of rows and columns within the dataframe 
print(uk_cases.shape)

uk_cases.describe()

  Province/State  Country/Region      Lat     Long ISO 3166-1 Alpha 3-Codes  \
0       Anguilla  United Kingdom  18.2206 -63.0686                      AIA
1       Anguilla  United Kingdom  18.2206 -63.0686                      AIA
2       Anguilla  United Kingdom  18.2206 -63.0686                      AIA
3       Anguilla  United Kingdom  18.2206 -63.0686                      AIA
4       Anguilla  United Kingdom  18.2206 -63.0686                      AIA

                   Sub-region Name  Intermediate Region Code        Date  \
0  Latin America and the Caribbean                        29  2020-01-22
1  Latin America and the Caribbean                        29  2020-01-23
2  Latin America and the Caribbean                        29  2020-01-24
3  Latin America and the Caribbean                        29  2020-01-25
4  Latin America and the Caribbean                        29  2020-01-26

   Deaths  Cases  Recovered  Hospitalised
0     0.0    0.0        0.0           0.0
1     0.0    0.0        0.0           0.0
2     0.0    0.0        0.0           0.0
3     0.0    0.0        0.0           0.0
4     0.0    0.0        0.0           0.0
     Province/State  Country/Region      Lat   Long ISO 3166-1 Alpha 3-Codes  \
7579         Others  United Kingdom  55.3781 -3.436                      GBR
7580         Others  United Kingdom  55.3781 -3.436                      GBR
7581         Others  United Kingdom  55.3781 -3.436                      GBR
7582         Others  United Kingdom  55.3781 -3.436                      GBR
7583         Others  United Kingdom  55.3781 -3.436                      GBR

      Sub-region Name  Intermediate Region Code        Date    Deaths  \
7579  Northern Europe                         0  2021-10-10  137735.0
7580  Northern Europe                         0  2021-10-11  137763.0
7581  Northern Europe                         0  2021-10-12  137944.0
7582  Northern Europe                         0  2021-10-13  138080.0
7583  Northern Europe                         0  2021-10-14  138237.0

          Cases  Recovered  Hospitalised
7579  8154306.0        0.0         378.0
7580  8193769.0        0.0         386.0
7581  8231437.0        0.0         386.0
7582  8272883.0        0.0           0.0
7583  8317439.0        0.0           0.0
(7584, 12)

,Lat,Long,Intermediate Region Code,Deaths,Cases,Recovered,Hospitalised
count,7584.000000,7584.000000,7584.000000,7582.000000,7.582000e+03,7582.000000,7582.000000
mean,21.840267,-41.440047,12.500000,6210.202321,2.147082e+05,454.691242,685.228568
std,28.305518,30.527529,14.009849,24860.790148,1.007557e+06,1010.642337,819.256635
min,-51.796300,-81.254600,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,17.851075,-64.667625,0.000000,0.000000,1.200000e+01,0.000000,105.000000
50%,20.503650,-60.855483,2.500000,1.000000,1.685000e+02,13.000000,390.000000
75%,39.448675,-5.152225,29.000000,25.000000,1.585000e+03,312.000000,955.750000
max,55.378100,-2.364400,29.000000,138237.000000,8.317439e+06,8322.000000,4907.000000

### Identifying and filtering out the missing values from the dataframe

In [4]:
# Number of missing values
print(uk_cases.isna().any(axis=1).sum())

# Printing the rows containing the missing values
missing_cases=uk_cases[uk_cases.isna().any(axis=1)]
print(missing_cases)

# Filtered out those rows containing NaN values
filter_cases=uk_cases.dropna()

2
    Province/State  Country/Region      Lat     Long ISO 3166-1 Alpha 3-Codes  \
875        Bermuda  United Kingdom  32.3078 -64.7505                      BMU
876        Bermuda  United Kingdom  32.3078 -64.7505                      BMU

      Sub-region Name  Intermediate Region Code        Date  Deaths  Cases  \
875  Northern America                         0  2020-09-21     NaN    NaN
876  Northern America                         0  2020-09-22     NaN    NaN

     Recovered  Hospitalised
875        NaN           NaN
876        NaN           NaN

### Filtering & Subsetting the data for Cases within Gibraltar

In [5]:
# Filtering results of Gibraltar from the data
gibr_cases = filter_cases[filter_cases['Province/State'] == 'Gibraltar']
gibr_cases

# Subsetting the Dataframe to display the following columns: Deaths, Cases, Recovered and Hospitalised
gb_sub=gibr_cases[['Date','Cases', 'Deaths', 'Recovered', 'Hospitalised']]
gb_sub.describe().apply(lambda s: s.apply('{0:.5f}'.format))

            Cases     Deaths   Recovered Hospitalised
count   632.00000  632.00000   632.00000    632.00000
mean   2237.10918   40.20886  1512.82120   1027.62500
std    2136.26809   45.33283  1817.09675   1145.68106
min       0.00000    0.00000     0.00000      0.00000
25%     177.00000    0.00000   109.50000    157.75000
50%    1036.50000    5.00000   323.50000    675.50000
75%    4286.00000   94.00000  4122.50000   1548.00000
max    5727.00000   97.00000  4670.00000   4907.00000

### Importing the files containing UK Vaccination data

In [164]:
# Extract the file containing Vaccination Data
cov_vac=pd.read_csv("/Users/shaunman/Documents/LSE/Course 2/Course 2 Final/LSE_DA201_Assignment_files/covid_19_uk_vaccinated.csv")

### Merge list of UK Covid Cases and UK Vaccination Data

In [165]:
# Merge 2 dataframes with use of outerjoin.
uk_vac=pd.merge(uk_cases,cov_vac,how='outer')
print(uk_vac.shape)

(7584, 15)

### Missing Values filtered from Dataframe

In [166]:
# Number of missing values
print(uk_vac.isna().any(axis=1).sum())

# Filtered out those rows containing NaN values
ukvac_cases=uk_vac.dropna()

2

In [173]:
# Comparing the output of Vaccinated column and Second Dose column
print(sum(ukvac_cases['Vaccinated']-ukvac_cases['Second Dose']))

#The output generated reveals that they are the same.
#Hence, invidivuals are considered Vaccinated if they have received 2nd dose and these columns can be substituted.

ukvac_cases.info()

0
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7582 entries, 0 to 7583
Data columns (total 15 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Province/State            7582 non-null   object
 1   Country/Region            7582 non-null   object
 2   Lat                       7582 non-null   float64
 3   Long                      7582 non-null   float64
 4   ISO 3166-1 Alpha 3-Codes  7582 non-null   object
 5   Sub-region Name           7582 non-null   object
 6   Intermediate Region Code  7582 non-null   int64
 7   Date                      7582 non-null   object
 8   Deaths                    7582 non-null   float64
 9   Cases                     7582 non-null   float64
 10  Recovered                 7582 non-null   float64
 11  Hospitalised              7582 non-null   float64
 12  Vaccinated                7582 non-null   int64
 13  First Dose                7582 non-null   int64
 14  Second Dose               7582 non-null   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 947.8+ KB

In [174]:
# Filtering out extra columns from the dataframe
ukvac=ukvac_cases[['Province/State','Date','Deaths','Recovered','First Dose','Second Dose']]


# Print shape of the new dataframe
print(ukvac.shape)

(7582, 6)

### Converting the data type from object to Date

In [175]:
# Import the datetime module and datetime class.
from datetime import datetime

# Current date and time .
now = datetime.now() 
print('Current time', now)

# Converting the data type of the Date Column from object to Date 
ukvac['Date']=pd.to_datetime(ukvac['Date'],format='%Y-%m-%d')
ukvac.info()

Current time 2022-07-10 13:45:55.610522
<class 'pandas.core.frame.DataFrame'>
Int64Index: 7582 entries, 0 to 7583
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  7582 non-null   object
 1   Date            7582 non-null   datetime64[ns]
 2   Deaths          7582 non-null   float64
 3   Recovered       7582 non-null   float64
 4   First Dose      7582 non-null   int64
 5   Second Dose     7582 non-null   int64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 414.6+ KB

In [176]:

# Creating column containing those individual who have received only the first dose
ukvac['Fdose_nodose2']=ukvac['First Dose'] - ukvac['Second Dose']
ukvac['total_dose']=ukvac['First Dose'] + ukvac['Second Dose']
ukvac['month_year']=ukvac['Date'].dt.to_period('M')

In [177]:
# Group by Province/State
state_group=ukvac.groupby('Province/State')

# Group by First Dose Vaccinated 
firstdose_group=ukvac.groupby('First Dose')

# Group by Second Dose Vaccinated 
seconddose_group=ukvac.groupby('Second Dose')

In [178]:
# 3.4.a Province/State having the highest number of individuals with a first dose but not a second dose
prov=state_group.sum().sort_values('Fdose_nodose2',ascending=False)
prov

,Deaths,Recovered,First Dose,Second Dose,Fdose_nodose2,total_dose
Province/State,,,,,,
Gibraltar,25412.0,956103.0,5870786,5606041,264745,11476827
Montserrat,539.0,6376.0,5401128,5157560,243568,10558688
British Virgin Islands,3573.0,64359.0,5166303,4933315,232988,10099618
Anguilla,24.0,12708.0,4931470,4709072,222398,9640542
Isle of Man,15051.0,328319.0,4226984,4036345,190639,8263329
Falkland Islands (Malvinas),0.0,14754.0,3757307,3587869,169438,7345176
Cayman Islands,911.0,152052.0,3522476,3363624,158852,6886100
Channel Islands,37130.0,1027626.0,3287646,3139385,148261,6427031
Turks and Caicos Islands,5612.0,515923.0,3052822,2915136,137686,5967958
Bermuda,10353.0,363999.0,2817981,2690908,127073,5508889
Others,46987145.0,4115.0,2583151,2466669,116482,5049820
"Saint Helena, Ascension and Tristan da Cunha",4.0,1135.0,2348310,2242421,105889,4590731

In [179]:
#3.4.b Province/State having the highest percentage of individuals with a first dose but not a second dose.

prov['Fdose_perc']=(prov['Fdose_nodose2']*100)/prov['total_dose']
prov.sort_values('Fdose_perc',ascending=False)

,Deaths,Recovered,First Dose,Second Dose,Fdose_nodose2,total_dose,Fdose_perc
Province/State,,,,,,,
Turks and Caicos Islands,5612.0,515923.0,3052822,2915136,137686,5967958,2.307087
Isle of Man,15051.0,328319.0,4226984,4036345,190639,8263329,2.307048
Anguilla,24.0,12708.0,4931470,4709072,222398,9640542,2.306903
British Virgin Islands,3573.0,64359.0,5166303,4933315,232988,10099618,2.306899
Cayman Islands,911.0,152052.0,3522476,3363624,158852,6886100,2.306850
Channel Islands,37130.0,1027626.0,3287646,3139385,148261,6427031,2.306835
Montserrat,539.0,6376.0,5401128,5157560,243568,10558688,2.306802
Falkland Islands (Malvinas),0.0,14754.0,3757307,3587869,169438,7345176,2.306793
Gibraltar,25412.0,956103.0,5870786,5606041,264745,11476827,2.306779
Bermuda,10353.0,363999.0,2817981,2690908,127073,5508889,2.306690
Others,46987145.0,4115.0,2583151,2466669,116482,5049820,2.306656
"Saint Helena, Ascension and Tristan da Cunha",4.0,1135.0,2348310,2242421,105889,4590731,2.306583

In [180]:
# Group by Date
timegroup=ukvac.groupby('month_year')

#3.4.c How has the number of vaccinated individuals and individuals \n
# received the first and second doses, changed over time?

vac_time=timegroup.sum()
vac_time

,Deaths,Recovered,First Dose,Second Dose,Fdose_nodose2,total_dose
month_year,,,,,,
2020-01,0.0,0.0,0,0,0,0
2020-02,0.0,116.0,0,0,0,0
2020-03,12580.0,1929.0,0,0,0,0
2020-04,457216.0,14880.0,0,0,0,0
2020-05,1030749.0,32790.0,0,0,0,0
2020-06,1182674.0,38818.0,0,0,0,0
2020-07,1270661.0,43441.0,0,0,0,0
2020-08,1284798.0,46765.0,0,0,0,0
2020-09,1254487.0,61958.0,0,0,0,0
2020-10,1358294.0,79916.0,0,0,0,0
2020-11,1573977.0,95104.0,0,0,0,0
2020-12,2042273.0,132440.0,0,0,0,0
2021-01,2759728.0,242466.0,7009791,102807,6906984,7112598
2021-02,3272231.0,303091.0,10979089,321611,10657478,11300700
2021-03,3896724.0,376948.0,10872004,3697646,7174358,14569650
2021-04,3822739.0,415975.0,3214759,10443858,-7229099,13658617
2021-05,3965741.0,471500.0,5114952,10777396,-5662444,15892348
2021-06,3846191.0,468037.0,5383815,7313473,-1929658,12697288
2021-07,3999144.0,528517.0,1955401,5273975,-3318574,7229376
2021-08,4073987.0,92778.0,1271518,4587807,-3316289,5859325
2021-09,4051485.0,0.0,775585,1991847,-1216262,2767432
2021-10,1930075.0,0.0,389450,337925,51525,727375

### Assignment Activity 4: Visualise and identify initial trends

In [127]:
ukvac.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7582 entries, 0 to 7583
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Province/State  7582 non-null   object
 1   Date            7582 non-null   datetime64[ns]
 2   Deaths          7582 non-null   float64
 3   Recovered       7582 non-null   float64
 4   First Dose      7582 non-null   int64
 5   Second Dose     7582 non-null   int64
 6   Fdose_only      7582 non-null   int64
 7   total_dose      7582 non-null   int64
 8   Fdose_perc      3300 non-null   float64
 9   month_year      7582 non-null   period[M]
dtypes: datetime64[ns](1), float64(3), int64(4), object(1), period[M](1)
memory usage: 651.6+ KB

In [129]:
#Importing the matplotlib and seaborn libraries
import matplotlib.pyplot as plt
import seaborn as sns
ukvac['Tdose_only']=((ukvac['Fdose_only']*100)/ukvac['First Dose'])

ukvac

,Province/State,Date,Deaths,Recovered,First Dose,Second Dose,Fdose_only,total_dose,Fdose_perc,month_year,Tdose_only
0,Anguilla,2020-01-22,0.0,0.0,0,0,0,0,NaN,2020-01,NaN
1,Anguilla,2020-01-23,0.0,0.0,0,0,0,0,NaN,2020-01,NaN
2,Anguilla,2020-01-24,0.0,0.0,0,0,0,0,NaN,2020-01,NaN
3,Anguilla,2020-01-25,0.0,0.0,0,0,0,0,NaN,2020-01,NaN
4,Anguilla,2020-01-26,0.0,0.0,0,0,0,0,NaN,2020-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...
7579,Others,2021-10-10,137735.0,0.0,1216,1070,146,2286,0.531934,2021-10,12.006579
7580,Others,2021-10-11,137763.0,0.0,1604,1300,304,2904,0.552342,2021-10,18.952618
7581,Others,2021-10-12,137944.0,0.0,2027,1482,545,3509,0.577657,2021-10,26.887025
7582,Others,2021-10-13,138080.0,0.0,0,0,0,0,NaN,2021-10,NaN
7583,Others,2021-10-14,138237.0,0.0,0,0,0,0,NaN,2021-10,NaN